.sketch img {
  padding-right: 20px;
  padding-bottom: 20px;
  width: 90%;
}

.sketch {
  background-image: url(../img/wallpaper-sketch.png);
}

.sketch p {
  color: #949494;
  font-family: Inter;
  font-size: 28px;
  font-weight: 400;
}

.sketch-titel {
  color: #949494;
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 198px;
}
